.cont {
  display: flex;
  flex-direction: row;
  gap: 72px;
  margin-top: 80px;
}
.imgNform {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  max-width: 640px;
}
.img {
  width: 640px;
  height: 512px;
  border-radius: 19px;
}
.info {
  max-width: 488px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 68px;
}

.mainInfo {
}
.nameNid {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
}
.name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  text-align: center;
  color: var(--color-main);
}
.id {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-grey);
}
.locationNmileage {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 16px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-main);
  margin-bottom: 16px;
}
.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--color-blue-button);
  text-align: left;
  margin-bottom: 32px;
}
.description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-main);
  text-align: left;
}
.secInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 110px;
}
.conditions {
  display: flex;
  flex-direction: column;
}
.rentalTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-main);
  text-align: left;
  margin-bottom: 20px;
}
.condList {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-main);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.condition {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8px;
}
.specifications {
  display: flex;
  flex-direction: column;
}
.specifTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-main);
  text-align: left;
  margin-bottom: 20px;
}
.specifList {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-main);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.specification {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8px;
}
.accessories {
  display: flex;
  flex-direction: column;
}
.accessTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-main);
  text-align: left;
  margin-bottom: 20px;
}
.accessList {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-main);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.access {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.noData {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
