.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px 32px;
  justify-content: start;
  align-items: center;
  margin-bottom: 80px;
  width: 100%;
  min-width: 1200px;
}

.noCars {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
