.cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;

  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-bottom: 52px;
  max-width: 375px;

  @media (min-width: 768px) {
    gap: 56px;
    margin-bottom: 80px;
    max-width: 720px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media (min-width: 1024px) {
    gap: 60px;
    max-width: 1280px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media (min-width: 1440px) {
    gap: 48px 32px;
    max-width: 1440px;
  }
}

.noCars {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  @media (min-width: 768px) {
    font-size: 24px;
  }
}
