.header {
  padding: 24px 32px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-badges);
  background-color: var(--color-badges);

  @media (min-width: 768px) {
    padding: 24px 60px;
  }
  @media (min-width: 1024px) {
    padding: 24px 120px;
  }
}

.logo {
  width: 104px;
  height: 16px;
  display: block;
}

.navigation {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  @media (min-width: 768px) {
    gap: 32px;
  }
}

.link {
  display: inline-flex;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--color-main);
  justify-content: center;
  align-items: center;
  transition: color 0.4s ease-out;

  .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .text {
    display: none;
  }

  @media (min-width: 768px) {
    min-width: 44px;
  }
  @media (min-width: 440px) {
    .text {
      display: inline-flex;
    }
    .icon {
      display: none;
    }
  }
}

.link:hover,
.link:focus {
  color: var(--color-blue-hover);
}

.active {
  color: var(--color-blue-hover);
}
