.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
}

.dropdown-button {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.dropdown-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  position: absolute; /* This ensures the dropdown overlays other content */
  width: 100%;
  background-color: #fff;
  z-index: 10;
  top: 100%; /* Position the dropdown below the button */
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}
