#root {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Inter", sans-serif;

  --color-main: #101929;

  --color-grey: #8d929a;
  --color-gray-light: #dadde1;

  --color-badges: #f2f4f7;
  --color-inputs: #f7f7f7;
  --color-white: #ffffff;

  --color-blue-button: #3470ff;
  --color-blue-hover: #0b44cd;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}
body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.icon {
  display: inline-block;

  stroke-width: 0;
  stroke: currentColor;
  fill: var(--color-gray-light);
}
