@import "../src/components/DatePickerField/calendar.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Inter", sans-serif;
  --color-main: #101929;
  --color-grey: #8d929a;
  --color-gray-light: #dadde1;
  --color-badges: #f2f4f7;
  --color-inputs: #f7f7f7;
  --color-white: #ffffff;
  --color-blue-button: #3470ff;
  --color-blue-hover: #0b44cd;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-blue-button);
  border-radius: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-blue-hover);
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: var(--color-gray-light);
}

html,
body {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.25;
  padding: 0;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--color-white);
  color: var(--color-main);
  width: 1440px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

input {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;
}

section {
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 60px;
  margin-top: 84px;
  width: 100%;
  min-height: 100vh;
}

@media (min-width: 768px) {
  section {
    padding: 0 40px;
  }
}

@media (min-width: 1024px) {
  section {
    padding: 0 120px;
  }
}

input:hover,
textarea:hover,
input:active,
textarea:active,
input:focus,
textarea:focus {
  border: none;
  outline: none;
}

.MuiMenu-paper {
  overflow-y: auto;
}

.MuiMenu-paper::-webkit-scrollbar {
  width: 8px;
}

.MuiMenu-paper::-webkit-scrollbar-thumb {
  background-color: var(--color-grey);
  border-radius: 10px;
  height: 12px;
}

.MuiMenu-paper::-webkit-scrollbar-track {
  background: var(--color-gray-light);
  border-radius: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
}
