.btn {
  border: 1px solid var(--color-blue-button);
  border-radius: 12px;
  padding: 12px 38px;
  font-weight: 600;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  transition: border 0.4s ease-out;
}

.btn:hover,
.btn:focus {
  border: 1px solid var(--color-blue-hover);
}

.loading {
  margin: 0 auto;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-blue-button);
}
